# Imports

In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import wrangle as w

# Acquire Data
* Acquire bedroomcnt, bathroomcnt, calculatedfinishedsquarefeet, taxvaluedollarcnt, yearbuilt, taxamount, and fips from the zillow database for all 'Single Family Residential' properties.

In [21]:
df = w.get_zillow_data()

In [22]:
df.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips,tax_rate,price_per_sqft,age
4,4.0,2.0,3633.0,296425.0,2005.0,6941.39,6037,0.023417,81.592348,12.0
6,3.0,4.0,1620.0,847770.0,2011.0,10244.94,6037,0.012085,523.314815,6.0
7,3.0,2.0,2077.0,646760.0,1926.0,7924.68,6037,0.012253,311.391430,91.0
11,0.0,0.0,1200.0,5328.0,1972.0,91.60,6037,0.017192,4.440000,45.0
14,0.0,0.0,171.0,6920.0,1973.0,255.17,6037,0.036874,40.467836,44.0

# Prepare Data

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2140235 entries, 4 to 2152862
Data columns (total 10 columns):
 #   Column                        Dtype
---  ------                        -----
 0   bedroomcnt                    float64
 1   bathroomcnt                   float64
 2   calculatedfinishedsquarefeet  float64
 3   taxvaluedollarcnt             float64
 4   yearbuilt                     float64
 5   taxamount                     float64
 6   fips                          int64
 7   tax_rate                      float64
 8   price_per_sqft                float64
 9   age                           float64
dtypes: float64(9), int64(1)
memory usage: 179.6 MB

In [5]:
df.describe()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips,tax_rate,price_per_sqft,age
count,2.140235e+06,2.140235e+06,2.140235e+06,2.140235e+06,2.140235e+06,2.140235e+06,2.140235e+06,2.140235e+06,2.140235e+06,2.140235e+06
mean,3.301419e+00,2.240352e+00,1.863194e+03,4.606416e+05,1.960968e+03,5.616711e+03,6.048310e+03,1.345408e-02,2.360222e+02,5.603246e+01
std,9.325998e-01,9.905489e-01,1.221754e+03,6.771576e+05,2.215056e+01,7.814563e+03,2.034491e+01,2.210911e-01,8.188235e+02,2.215056e+01
min,0.000000e+00,0.000000e+00,1.000000e+00,2.200000e+01,1.801000e+03,6.340000e+00,6.037000e+03,2.728425e-05,9.251472e-03,1.000000e+00
25%,3.000000e+00,2.000000e+00,1.258000e+03,1.891660e+05,1.949000e+03,2.540850e+03,6.037000e+03,1.173133e-02,1.253491e+02,4.100000e+01
50%,3.000000e+00,2.000000e+00,1.623000e+03,3.282960e+05,1.958000e+03,4.111470e+03,6.037000e+03,1.238849e-02,2.026444e+02,5.900000e+01
75%,4.000000e+00,3.000000e+00,2.208000e+03,5.346060e+05,1.976000e+03,6.411930e+03,6.059000e+03,1.356732e-02,3.003924e+02,6.800000e+01
max,2.500000e+01,3.200000e+01,9.525760e+05,9.018846e+07,2.016000e+03,1.078102e+06,6.111000e+03,3.106514e+02,6.097510e+05,2.160000e+02

In [6]:
df.isnull().sum()

bedroomcnt                      0
bathroomcnt                     0
calculatedfinishedsquarefeet    0
taxvaluedollarcnt               0
yearbuilt                       0
taxamount                       0
fips                            0
tax_rate                        0
price_per_sqft                  0
age                             0
dtype: int64

In [7]:
# drop nulls from df
df = df.dropna()

In [8]:
df.isnull().sum()

bedroomcnt                      0
bathroomcnt                     0
calculatedfinishedsquarefeet    0
taxvaluedollarcnt               0
yearbuilt                       0
taxamount                       0
fips                            0
tax_rate                        0
price_per_sqft                  0
age                             0
dtype: int64

In [9]:
df.dtypes

bedroomcnt                      float64
bathroomcnt                     float64
calculatedfinishedsquarefeet    float64
taxvaluedollarcnt               float64
yearbuilt                       float64
taxamount                       float64
fips                              int64
tax_rate                        float64
price_per_sqft                  float64
age                             float64
dtype: object

In [10]:
df.dtypes

bedroomcnt                      float64
bathroomcnt                     float64
calculatedfinishedsquarefeet    float64
taxvaluedollarcnt               float64
yearbuilt                       float64
taxamount                       float64
fips                              int64
tax_rate                        float64
price_per_sqft                  float64
age                             float64
dtype: object

In [11]:
# check value counts for df
for i in df.columns:
    print(i)
    print(df[i].value_counts())
    print('----------------')

bedroomcnt
3.0     962944
4.0     633608
2.0     334221
5.0     150671
6.0      25117
1.0      22895
7.0       4792
0.0       4397
8.0       1103
9.0        290
10.0       118
11.0        34
13.0        15
12.0        12
14.0         7
15.0         5
18.0         3
16.0         2
25.0         1
Name: bedroomcnt, dtype: int64
----------------
bathroomcnt
2.00     942463
3.00     422398
1.00     412582
2.50     142827
4.00      82039
1.50      31157
3.50      28464
5.00      28306
4.50      19474
6.00      10717
5.50       6201
7.00       4381
0.00       4274
8.00       1681
6.50       1330
9.00        707
7.50        382
10.00       322
11.00       145
8.50        108
12.00        73
9.50         50
13.00        39
14.00        25
15.00        17
0.50         16
10.50        14
16.00        12
18.00         8
20.00         6
17.00         4
1.75          3
12.50         3
11.50         3
19.50         1
14.50         1
32.00         1
19.00         1
Name: bathroomcnt, dtype: int64
----------------
calculatedfinishedsquarefeet
1200.0     5184
1080.0     4376
1120.0     4354
1400.0     3828
1440.0     3684
           ...
10180.0       1
13169.0       1
9095.0        1
10525.0       1
24920.0       1
Name: calculatedfinishedsquarefeet, Length: 10557, dtype: int64
----------------
taxvaluedollarcnt
450000.0    820
500000.0    774
400000.0    723
430000.0    690
440000.0    683
           ...
729523.0      1
940139.0      1
545367.0      1
38804.0       1
536061.0      1
Name: taxvaluedollarcnt, Length: 588178, dtype: int64
----------------
yearbuilt
1955.0    84329
1950.0    71606
1954.0    69069
1953.0    62270
1956.0    61858
          ...
1855.0        1
1879.0        1
1833.0        1
1840.0        1
1874.0        1
Name: yearbuilt, Length: 153, dtype: int64
----------------
taxamount
345.72      172
344.18       76
343.52       74
49.18        46
388.18       37
           ...
8191.38       1
11627.92      1
15008.68      1
9227.22       1
13494.52      1
Name: taxamount, Length: 915868, dtype: int64
----------------
fips
6037    1425207
6059     552057
6111     162971
Name: fips, dtype: int64
----------------
tax_rate
0.010684    33
0.012427    24
0.012437    24
0.016816    23
0.012220    21
            ..
0.014322     1
0.012284     1
0.012344     1
0.010408     1
0.012204     1
Name: tax_rate, Length: 2067011, dtype: int64
----------------
price_per_sqft
333.333333    192
250.000000     98
375.000000     95
312.500000     91
384.615385     85
             ...
113.665603      1
192.315833      1
217.068740      1
74.282697       1
171.429805      1
Name: price_per_sqft, Length: 2030490, dtype: int64
----------------
age
62.0     84329
67.0     71606
63.0     69069
64.0     62270
61.0     61858
         ...
162.0        1
138.0        1
184.0        1
177.0        1
143.0        1
Name: age, Length: 153, dtype: int64
----------------

In [12]:
df[df.calculatedfinishedsquarefeet == 1]

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips,tax_rate,price_per_sqft,age
58438,2.0,1.0,1.0,121376.0,1907.0,1996.35,6037,0.016448,121376.0,110.0
1046787,0.0,0.0,1.0,28091.0,1963.0,439.55,6037,0.015647,28091.0,54.0
1276353,1.0,3.0,1.0,124906.0,1953.0,2020.66,6037,0.016177,124906.0,64.0
1359288,2.0,1.0,1.0,147577.0,1991.0,1855.40,6037,0.012572,147577.0,26.0
1895866,5.0,5.0,1.0,563977.0,1997.0,6808.84,6037,0.012073,563977.0,20.0
2017745,3.0,1.0,1.0,31800.0,1900.0,870.36,6037,0.027370,31800.0,117.0

In [13]:
for i in df.columns:
    print(i)
    print(df[i].value_counts())
    print('----------------')

bedroomcnt
3.0     962944
4.0     633608
2.0     334221
5.0     150671
6.0      25117
1.0      22895
7.0       4792
0.0       4397
8.0       1103
9.0        290
10.0       118
11.0        34
13.0        15
12.0        12
14.0         7
15.0         5
18.0         3
16.0         2
25.0         1
Name: bedroomcnt, dtype: int64
----------------
bathroomcnt
2.00     942463
3.00     422398
1.00     412582
2.50     142827
4.00      82039
1.50      31157
3.50      28464
5.00      28306
4.50      19474
6.00      10717
5.50       6201
7.00       4381
0.00       4274
8.00       1681
6.50       1330
9.00        707
7.50        382
10.00       322
11.00       145
8.50        108
12.00        73
9.50         50
13.00        39
14.00        25
15.00        17
0.50         16
10.50        14
16.00        12
18.00         8
20.00         6
17.00         4
1.75          3
12.50         3
11.50         3
19.50         1
14.50         1
32.00         1
19.00         1
Name: bathroomcnt, dtype: int64
----------------
calculatedfinishedsquarefeet
1200.0     5184
1080.0     4376
1120.0     4354
1400.0     3828
1440.0     3684
           ...
10180.0       1
13169.0       1
9095.0        1
10525.0       1
24920.0       1
Name: calculatedfinishedsquarefeet, Length: 10557, dtype: int64
----------------
taxvaluedollarcnt
450000.0    820
500000.0    774
400000.0    723
430000.0    690
440000.0    683
           ...
729523.0      1
940139.0      1
545367.0      1
38804.0       1
536061.0      1
Name: taxvaluedollarcnt, Length: 588178, dtype: int64
----------------
yearbuilt
1955.0    84329
1950.0    71606
1954.0    69069
1953.0    62270
1956.0    61858
          ...
1855.0        1
1879.0        1
1833.0        1
1840.0        1
1874.0        1
Name: yearbuilt, Length: 153, dtype: int64
----------------
taxamount
345.72      172
344.18       76
343.52       74
49.18        46
388.18       37
           ...
8191.38       1
11627.92      1
15008.68      1
9227.22       1
13494.52      1
Name: taxamount, Length: 915868, dtype: int64
----------------
fips
6037    1425207
6059     552057
6111     162971
Name: fips, dtype: int64
----------------
tax_rate
0.010684    33
0.012427    24
0.012437    24
0.016816    23
0.012220    21
            ..
0.014322     1
0.012284     1
0.012344     1
0.010408     1
0.012204     1
Name: tax_rate, Length: 2067011, dtype: int64
----------------
price_per_sqft
333.333333    192
250.000000     98
375.000000     95
312.500000     91
384.615385     85
             ...
113.665603      1
192.315833      1
217.068740      1
74.282697       1
171.429805      1
Name: price_per_sqft, Length: 2030490, dtype: int64
----------------
age
62.0     84329
67.0     71606
63.0     69069
64.0     62270
61.0     61858
         ...
162.0        1
138.0        1
184.0        1
177.0        1
143.0        1
Name: age, Length: 153, dtype: int64
----------------

In [14]:
df.bedroomcnt.describe([0.01,.25, .5, .75, .9, .95, .99])
# select  0.01 and 0.99 as outliers

count    2.140235e+06
mean     3.301419e+00
std      9.325998e-01
min      0.000000e+00
1%       1.000000e+00
25%      3.000000e+00
50%      3.000000e+00
75%      4.000000e+00
90%      4.000000e+00
95%      5.000000e+00
99%      6.000000e+00
max      2.500000e+01
Name: bedroomcnt, dtype: float64

In [15]:
# create function to remove outliers
def remove_outliers(df, k, col_list):
    ''' remove outliers from a list of columns in a dataframe
    and return that dataframe with outliers removed'''
    for col in col_list:
        q1, q3 = df[col].quantile([.25, .75])  # get quartiles
        iqr = q3 - q1   # calculate interquartile range
        upper_bound = q3 + k * iqr   # get upper bound
        lower_bound = q1 - k * iqr   # get lower bound
        df = df[(df[col] > lower_bound) & (df[col] < upper_bound)]  # filter dataframe
    return df

In [16]:
col = ['bedroomcnt', 'bathroomcnt', 'calculatedfinishedsquarefeet', 'taxvaluedollarcnt', 'yearbuilt', 'taxamount', 'fips']
remove_outliers(df, 4, col)

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips,tax_rate,price_per_sqft,age
4,4.0,2.0,3633.0,296425.0,2005.0,6941.39,6037,0.023417,81.592348,12.0
6,3.0,4.0,1620.0,847770.0,2011.0,10244.94,6037,0.012085,523.314815,6.0
7,3.0,2.0,2077.0,646760.0,1926.0,7924.68,6037,0.012253,311.391430,91.0
11,0.0,0.0,1200.0,5328.0,1972.0,91.60,6037,0.017192,4.440000,45.0
14,0.0,0.0,171.0,6920.0,1973.0,255.17,6037,0.036874,40.467836,44.0
...,...,...,...,...,...,...,...,...,...,...
2152856,4.0,4.0,4375.0,422400.0,2015.0,13877.56,6037,0.032854,96.548571,2.0
2152858,4.0,3.0,2262.0,960756.0,2015.0,13494.52,6059,0.014046,424.737401,2.0
2152859,4.0,4.5,3127.0,536061.0,2014.0,6244.16,6059,0.011648,171.429805,3.0
2152861,3.0,2.5,1974.0,424353.0,2015.0,5302.70,6059,0.012496,214.971125,2.0
2152862,4.0,4.0,2110.0,554009.0,2014.0,6761.20,6037,0.012204,262.563507,3.0

In [17]:
# make plot to visualize outliers
plt.figure(figsize=(16, 3))